// Raw fonts; DO NOT USE IN STYLESHEETS

@import '~assets/fonts/index';

$font-family-accent: 'Lato Medium', sans-serif;
$font-family-primary: 'Lato Regular', sans-serif;
$font-family-secondary: 'Lato Light', sans-serif;
