@import '~constants/styles/colors';
@import '~constants/styles/fonts';

// Override settings from _globals as needed
// In some cases you will need to wrap the component and force additional styles
// https://github.com/react-toolbox/react-toolbox/blob/dev/components/_globals.scss

$color-primary: $text-bright !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $button-accent !default;
$color-accent-dark: $button-accent-hover !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
$input-text-error-color: $red;

$preferred-font: $default-font;
