@import '~constants/styles/colors';

.avatar {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $outline-secondary;
  border-radius: 50%;
  box-shadow: inset 0 1px 4px 0 $shadow;
  height: 100%;
  width: 100%;
}
