// Font sizes
//  - Base font size is 10px at 1rem.

$icon-size-large: 3.4rem;
$icon-size-medium: 3rem;

$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-default: 1.6rem;
$font-size-small: 1.4rem;
$font-size-smaller: 1.2rem;
$font-size-tiny: 1rem;

$font-size-h1: 4.2rem;
$font-size-h2: 3.4rem;
$font-size-h3: 3rem;
$font-size-h4: 2.4rem;
$font-size-h5: 1.8rem;
