// Semantic Fonts; USE THESE IN YOUR STYLESHEETS

@import 'rawFonts';

$default-font: $font-family-primary;

$page-title: $font-family-secondary;
$section-title: $font-family-secondary;
$list-name: $font-family-accent;
$list-content: $font-family-primary;
$object-name: $font-family-primary;
$object-name-light: $font-family-secondary;

$nav-name: $font-family-primary;
$nav-section: $font-family-secondary;
$user-name: $font-family-secondary;
$user-company: $font-family-primary;

$button-text: $font-family-accent;
$mini-button-text: $font-family-primary;

$field-title: $font-family-accent;
$field-placeholder: $font-family-secondary;
$field-content: $font-family-primary;
