// Raw colors; DO NOT USE IN STYLESHEETS

$aqua: #44cff2;
$aqua-dark: #27a9ca;
$black: #000;
$blue: #3e485f;
$blue-dark: #30384b;
$blue-light: #9f9fb0;
$charcoal: #656c7b;
$gray-ultra-light: #f8f8f8;
$gray-lighter: #f6f6f6;
$gray-light: #f2f2f2;
$gray-regular-plus: #d9dbdf;
$gray-regular: #c6c5c4;
$gray-medium: #a6a6a1;
$gray-dark: #666662;
$green: #58c1a9;
$green-dark: #38a68d;
$green-light: #6bd1ba;
$red: #de2926;
$salmon: #f17070;
$white: #fff;
