@font-face {
  font-family: 'Lato Light';
  font-weight: normal;
  src: url('assets/fonts/Lato-Light.woff');
}

@font-face {
  font-family: 'Lato Medium';
  font-weight: normal;
  src: url('assets/fonts/Lato-Medium.woff');
}

@font-face {
  font-family: 'Lato Regular';
  font-weight: normal;
  src: url('assets/fonts/Lato-Regular.woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MaterialIcons-Regular.woff');
}
